.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 30vw;
    background-color: #f0f0f0;
    border: 2px solid #000;
    border-radius: 10px;
} 